<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPreaderController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CPreaderController.Properties.Settings>
            <setting name="ProcessToStart" serializeAs="String">
                <value>..\..\Lib\activator-1.3.2-minimal\activator.bat</value>
            </setting>
            <setting name="StartArgumentsArguments" serializeAs="String">
                <value>run</value>
            </setting>
            <setting name="StartIn" serializeAs="String">
                <value>..</value>
            </setting>
            <setting name="KillProcessName" serializeAs="String">
                <value>java</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </CPreaderController.Properties.Settings>
    </applicationSettings>
</configuration>